<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add TODO</title>
</head>
<body>
    <h1>Add TODO</h1>

    <form action="/submit" method="POST">
        <table>
            <tr>
                <td>title:</td>
                <td><input type="text" name="title" placeholder="title"></td>
            </tr>

            <tr>
                <td>order:</td>
                <td><input type="number" name="order"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="checkbox" name="is_done" id="is_done" value="1">
                    <label for="is_done">is done</label></td>
            </tr>
        </table>

        <input type="submit">

    </form>

</body>
</html>